<%= form_for @item_request, url: '/submit' do |form| %>
  <% if @item_request.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@item_request.errors.count, "Error") %> </h3> 
      <p> The following prohibited this request from being submitted: </p>
      <ul>
        <% @item_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p>Please fill out the form below. Your request will initiate the purchase of this book for your use. This is a process that may take up to 3 weeks before the book is available for check out. We will notify you when it is available to pick up at the library you indicated below. If you require the book sooner, please place your request through <a href="https://illiad.lib.wvu.edu/illiad.dll?Action=10&Form=30&isbn=<%= @item_request.ISBN %>&title=<%= params['title'] %>">iLLiad</a>.
    </p>
  </div>

  <div>
    <div class="field full">
      <%= form.label :ISBN, 'ISBN:'%> 
      <%= form.text_field :ISBN, readonly: true , size: '100x1'%>
    </div>

    <div class="field full">
      <%= form.label :Facmemb, "Name:" %> 
      <%= form.text_field :Facmemb, readonly: true , size: "100x1"  %>
    </div>

    <div class="field full">
      <%= form.label :intrdisc, "Department:" %> 
      <%= form.text_field :intrdisc, readonly: true, size: "100x1"  %>
    </div>

    <div class="field full">
      <%= form.label :Oemend, "Email:" %>
      <%= form.text_field :Oemend, readonly: true, size: "100x1"  %>
    </div>

    <div class="field full">
      <%= form.label :Site, "Pickup Location:"%>
      <%= form.select :Site, options_for_select(["Downtown Campus Library", "Evansdale Library", "George R. Farmer Jr. Law Library", "Health Sciences Library", "West Virginia & Regional History Center"], @item_request.try(:Site)), prompt: "Select One", class: 'genForm_dropBox', required: true %><br />
    </div>

    <div class="field full">
      <%= form.label :Role, "University Role:" %>
      <%= form.select :Role, options_for_select(["Faculty", "Undergrad", "Grad", "Staff", "Other"], @item_request.try(:Role) ), class: 'genForm_dropBox' %>
    </div>

    <div class="field full">
      <%= form.label :IntNotes, "Note:" %>
      <%= form.text_area :IntNotes, size: "100x10" %>
    </div>  
  </div>

  <%= form.submit "Order Book" %>

<% end  %>